/* Importing Manrope font from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Manrope";
}
body {
  background: #a8baf6;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}
/* BONUS :) */
::selection {
  background: #a8baf6;
  color: #111;
  /* Thanks for watching :) and yep it is a new trend in design :))) */
}
.card {
  width: 480px;
  background: #fff;
  border-radius: 20px;
  padding: 40px 50px;
  text-align: center;
  /* Clay effect codes */
  box-shadow: 0 35px 63px #a8baf6, inset 0 -8px 16px 0 #a8baf6;
  /* Just to make it bigger you can remove this if you want to :) feel free to make any changes*/
  transform: scale(1.5);
}
.card h1 {
  font-size: 2.2rem;
  font-weight: 800;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
} 
.card p {
  font-size: 1.5rem;
  text-transform: capitalize;
  font-weight: 400;
  margin-top: 20px;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}